<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Primer Proyecto</title>
</head>
<body>
<header>
<h1> Agenda </h1>
<img alt= "imagen de calendario" src= "../static/images/fotocalend.jpg" title="calendario"/>
</header>
<nav>
  <ul>
  <a href="index.html">Inicio</a>
  <a href="agenda.html">Agenda</a>
  <a href="beneficios.html">Beneficios</a>
  <a href="beca.html">Beca</a>
  </ul>
</nav>
<section>
<p> Esta seccion contiene informacion sobre la agenda de la pagina web. <br>
Una agenda es un libro o cuaderno donde se apuntan, para no olvidarlas, las cosas que se han de hacer en determinadas fechas; <br> 
generalmente sus hojas llevan impresos los días del año ordenados por meses y por semanas con un espacio para escribir. <br>
Esta agenda permite que los alumnos puedan ordenar sus horarios de los cursos que elige realizar.</p>
</section>
<video src="../static/videos/Portal.mp4"  height="400" controls></video>
<footer>
<p>2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 999999 S. S. de Jujuy República
Argentina.</p>
</footer>

</body>
</html>