<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Primer Proyecto</title>
</head>

<body>

<header>
<h1> Inicio </h1>
<img alt="imagen de inicio" src= "..\static\images\images.jpg" height="300" title="Titulo"/>
</header>
<nav>
  <ul>
  <a href="index.html">Inicio</a>
  <a href="agenda.html">Agenda</a>
  <a href="beneficios.html">Beneficios y becas</a>
  <a href="contacto.html">Contactanos</a>
  </ul>
</nav>

<section> 
  <h2> Cursos con inscripcion abierta</h2>
  <ol>
  <li><a href="idiomas.html">Idiomas.</a></li>
  <li><a href="diseño.html">Diseño.</a></li>
  <li><a href="desarrollo.html">Desarrollo.</a></li>
  <li><a href="marketing.html">Marketing.</a></li>
  <li><a href="conferencias.html">Conferencias</a></li>
  </ol>
</section>

<footer>
<p> 2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 999999 S. S. de Jujuy República Argentina. </p>
</footer>
</body>
</html>